/*
burnt orange:           c45007
registration black:     000000
outer space (grey):     474747
light cornflowerblue:   98d2eb
light cyan:             e1f2fe
*/


body {
    font-family: 'Open Sans', sans-serif;
    background: #e1f2fe;
}


form#chart-selector-container ul {
    list-style: none;
}
form#chart-selector-container li {
    display: inline-block;
    margin-right: 15px;
    margin-top:10px;
}
form#chart-selector-container input {
    visibility:hidden;
}
form#chart-selector-container label {
    cursor: pointer;
    padding:15px;
}
form#chart-selector-container input:checked + label {
    background: #474747;
    color:#e1f2fe;
}